# You can create a virtualenv by running: pip install -r requirements.txt
redis==2.7.1
zc-zookeeper-static==3.4.4
zc.thread==0.1.0
zc.zk==1.0.0
# warning: the following package is not yet available on PyPi
# use The fork https://github.com/mkjsix/zktools of zktools 0.3dev
# zktools==0.3
